<div class="container">
	<h4 style="font-size:30px; margin-bottom: 30px;">-CAPSTONE DESIGN</h4>
	<p style="margin: 6px;  text-indent: 18px;"><b style="color: #000000;">Title : <a href = "/cv/YOLO9000.pdf">YOLO9000</a> implementation</b></p>
	<p style="color: #444; margin: 3px; text-indent: 18px;">Members : Dohyung Kim, Hongjae Seung, Yongki Hong</p>
	<p style="color: #444; margin: 3px; text-indent: 18px;">Date : 2017.08 ~</p>
	<p style="color: #444; margin: 3px; text-indent: 18px;">Adviser : <a href = "https://bsham.github.io/">Bumsub Ham</a></p>
	
</div>
