<div class="container">
	<h4 style="font-size:30px; margin-bottom: 30px;">ELECTRICAL AND ELECTRONIC ENGINEERING CAPSTONE DESIGN</h4>
	<p><b style="color: #000000; line-height: 0.5;">Title   : <a href = "/cv/YOLO9000.pdf">YOLO9000</a> implementation</b></p>
	<p style="color: #444; line-height: 0.5;">Members : Dohyung Kim, Hongjae Seung, Yongki Hong</p>
	<p style="color: #444; line-height: 0.5;">Date    : 2017.08 ~</p>
	<p style="color: #444; line-height: 0.5;">Adviser : <a href = "https://bsham.github.io/">Bumsub Ham</a></p>
</div>
