<div>
    <b style="color: #000000;">SFNet: Learning Object-aware Semantic Correspondence</b>
    <p style="color: #999999;">Junghyup Kim*, Dohyung Kim*, Jean Ponce, Bumsub Ham<br>
    <a style="color: #000000;" target="_blank" href="https://arxiv.org/abs/1904.01810"> <kbd>arXiv</kbd></a>
    <a style="color: #FFFFFF;" target="_blank" href="https://cvlab-yonsei.github.io/projects/SFNet/"> <kbd>project</kbd></a><br>
    in <em>Proc. IEEE Conf. Comput. Vis. Pattern Recognit.</em> (<b style="color: #000000;">CVPR</b>), Jun. 2019. (Oral presentation)
    </p>
</div>
